<% @page_title = @filter.summary %>

<% turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= render "filters/broadcasts", filter: @filter %>

<% content_for :header do %>
  <nav class="align-start">
    <% if bucket = @filter.buckets.first %>
      <%= link_to edit_bucket_path(bucket), class: "btn borderless flex-item-justify-start" do %>
        <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Settings for <%= bucket.name %></span>
      <% end %>
    <% end %>

    <header class="flex flex-column center">
      <div class="flex align-center gap-half justify-center">
        <%= link_to "Collections", root_path %>
        <%= link_to "Activity", events_path %>
      </div>
      <%= render "bubbles/filters", filter: @filter %>
    </header>

    <% if bucket = @filter.buckets.first %>
      <%= button_to bucket_bubbles_path(bucket), method: :post, class: "btn borderless", form_class: "flex-item-justify-end" do %>
        <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Create a new bubble</span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<section class="bubbles flex-inline flex-wrap gap justify-center align-end" style="view-transition-name: bubbles_<%= @filter.id %>" data-controller="bubble-size" data-action="turbo:morph@window->bubble-size#resize">
  <% if @bubbles.any? %>
    <%= render partial: "bubbles/bubble", collection: @bubbles.limit(10), cached: true %>
  <% else %>
    <p><strong>Nothing here.</strong></p>
  <% end %>
</section>

<section class="bubbles-list unpad-inline center margin-block-start">
  <ul class="unpad margin-none flex flex-column txt-align-start center"
      data-controller="divider"
      data-divider-start-count-value="10"
      data-divider-max-count-value="10"
      data-divider-installed-class="bubbles-list__divider--installed"
      data-divider-dragging-class="dragging"
      data-action="turbo:morph@document->divider#install dragstart->divider#configureDrag dragenter->divider#acceptDrop dragover->divider#acceptDrop dragover->divider#moveDivider drop->divider#drop">
    <%= render partial: "bubbles/list/bubble", collection: @bubbles, cached: true %>
    <%= render "bubbles/list/divider", filter: @filter %>
  </ul>
</section>

<%= render "notifications/tray" %>
