<% @page_title = @bubble.title %>

<% content_for :header do %>
  <nav>
    <%= link_to bucket_bubbles_path(@bubble.bucket), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Bubbles</span>
    <% end %>

    <% if @bubble.popped? %>
      <%= button_to bucket_bubble_pop_path(@bubble.bucket, @bubble), method: :delete, class: "btn" do %>
        <%= image_tag "pop.svg", aria: { hidden: true }, size: 24 %>
        <span>Un-pop</span>
      <% end %>
    <% else %>
      <%= button_to bucket_bubble_pop_path(@bubble.bucket, @bubble), class: "btn" do %>
        <%= image_tag "pop.svg", aria: { hidden: true }, size: 24 %>
        <span>Pop</span>
      <% end %>
    <% end %>
    </nav>
<% end %>

<div class="bubble__perma flex justify-center center margin-block-end-double">
  <%= render "bubbles/bubble", bubble: @bubble %>
</div>

<%= render @bubble.thread %>
